.bgg {
  background-color: aqua;
}
.text {
  color: #c79c60;
}
.nav {
  background-color: #c79c60;
}
li {
  text-decoration: none;
}
.c {
  margin-top: 100px;
}
.bt {
  width: 150px;
  height: 50px;
  background-color: brown;
  color: burlywood;
  border-radius: 10px;
}
.fimg {
  border-radius: 100px;
  border: 15px solid whitesmoke;
  margin: 50px;
}
.ulli {
  text-decoration: none;
  border: 10px solid burlywood;
  border-radius: 5px;
  text-align: center;
}
.num {
  border-radius: 100px;
  background-color: brown;
  color: whitesmoke;
  border: 10px solid rgba(58, 9, 9, 0.486);
  /* margin: 10px; */
  text-align: center;
}
.box {
  height: auto;
  width: auto;
  background-color: white;
  border: 5px solid whitesmoke;
  /* padding: 1px; */
  margin-top: -0px;
}
.m {
  margin-top: 15px;
}
.t {
  margin-top: -40px;
}
.ml {
  margin-left: 245px;
  margin-top: -120px;
}
.mll {
  margin-left: 245px;
}
